{% load static %}

<html>
<head>
    <title>{% block title %}webuildprisons{% endblock title %}</title>
    {% block head_meta %}
    {% block head_meta_charset %}
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    {% endblock head_meta_charset %}
    {% block head_meta_contentlanguage %}
    <meta http-equiv="Content-Language" value="en-US" />
    {% endblock head_meta_contentlanguage %}
    {% block head_meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock head_meta_viewport %}
    {% endblock head_meta %}

    {% block head_css %}
    {% block head_css_site %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' media="screen">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet" media="screen">
    {% endblock head_css_site %}
    {% block head_css_section %}{% endblock head_css_section %}
    {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
</head>
<body>
{# Navigation Menu #}
{% block navigation %}
<nav>
    <div class="top-link">
        <nav>
            <h5>
                <a class='nav-item' href="{% url 'main' %}">we.build.prisons</a>
            </h5>
            <nav class="nav justify-content-end">
                <h4 >
                    <a class='nav-item' href="{% url 'sound' %}">sound(())</a>
                    <a class='nav-item' href="{% url 'image' %}">image-</a>
                    <a class='nav-item' href="{% url 'video' %}">video<-></a>
                    <a class='nav-item' href="{% url 'blog' %}">words...</a>
                </h4>
            </nav>
        </nav>
    </div>
</nav>
{% endblock navigation %}
<header>
</header>
{# The Document Body #}
<div>
    {% block content %}

    {% endblock content %}
</div>
{# The Footer #}
<div class='footer'>
    <div class='container'>
        <p>Copyright Kent Howard</p>
    </div>
</div>
</body>
{% block footer_javascript %}
{% block footer_javascript_site %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock footer_javascript_site %}
{% block footer_javascript_section %}{% endblock footer_javascript_section %}
{% block footer_javascript_page %}{% endblock footer_javascript_page %}
{% endblock footer_javascript %}
</html>